.box{
    width: 550px;
    margin: auto;
}
.input_item{
    width: 500px;
    margin: 10px 20px 0px;
    overflow: hidden;
}
.input_field{
    width: 200px;
    float: left;
}
.input_error{
    width: 100px;
    float: left;
    font-size: 5px;
}
